*.class
*.log
*.7z
*.zip
*.jar
*~
bin
.metadata
*.DS_Store

# Gradle
.gradle/
build/

#VS Code
.vscode/

#IntelliJ project files
*.iml
.idea/
atlassian-ide-plugin.xml
.surefire*

#Eclipse project files
.project
.classpath
.settings
.factorypath
.apt_generated
.sts4-cache/

# Vagrant
vagrant/
.vagrant/**

# node
node_modules/

# coverage
coverage
.springBeans
**/.factorypath
*.factorypath