<div class="player player-left grid grid-cols-[60%_40%]">
  <div class="col-span-2 grid grid-cols-2 w-full pr-4 pl-4 h-1/6">
    <app-card cardSuit="SPADES" cardValue="ACE" [isHidden]="false" [onlyShowTop]="true"></app-card>
    <app-card cardSuit="CLUBS" cardValue="ACE" [isHidden]="false" [onlyShowTop]="true"></app-card>
  </div>
  <div class="player-details">
    <div class="flex justify-center text-sm font-semibold">Player 1</div>
    <div class="flex justify-center text-xs opacity-70">40 BB</div>
  </div>
  <img class="player-image" src="../../assets/nod2.gif">
</div>